<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Geotag</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div id="map">
        <div class="baloon" id="">
        <div class="baloon-header">
            <div class="baloon-header-name"></div>
            <div class="baloon-header-address"></div>
            <a href="#" class="close"></a>            
        </div>
        <div class="baloon-content">
            <ul class="comments-list"></ul>
        </div> 
        <form id="comments-form">
        Ваше имя:<br>
        <input type="text" name="firstname" placeholder="Igor">
        <br>
        Ваш отзыв:<br>
        <input type="text" name="comment" placeholder="Hooinya">
        <br><br>
        <input type="button" name="button" value="Добавить">
        </form>
        </div>
    </div>  
</body>
</html>